# Prerequisites
*.d

# Compiled Object files
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared Libraries
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# CMake build directories and files
/[Bb]uild/
/cmake-build-*/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json

# IDE specific files (Optional but recommended)
.vscode/
.idea/
