# Catch all Makefile variants and extensions
[Mm]akefile* linguist-vendored
*.mk linguist-vendored
*.mak linguist-vendored

# Catch all CMake files
CMakeLists.txt linguist-vendored
*.cmake linguist-vendored
